teste-animation.html
texto-bill.txt
img/old-portifolio/
old.portfolio.html
teste.html
debug.log
anima-logo/
*.prproj
*.ai
img/portfolio/A&N/bruto/
img/portfolio/A&N/ai/
img/portfolio/Casa-Girassol/ai
img/portfolio/Casa-Girassol/bruto
img/portfolio/Desafio-Adobe/ai
img/portfolio/Desafio-Adobe/Bruto
CSS/teste.css
*.json
img/portfolio/Desafio-Adobe/Mockup/desafio-adobe-1.png
img/portfolio/Desafio-Adobe/Mockup/desafio-adobe-3.png
img/portfolio/Desafio-Adobe/Mockup/desafio-adobe-4.png