h1
{
color: white;
text-align: center;
}
h2
{
text-align: center;

color: white;
}
input
{
width: 180px;
						
}
input.botao
{
width: 88px;
						
}

.dia
{
width: 25px;
maxlength:2;
}
.mes
{
width: 25px;
maxlength:2;
}
.ano
{
width: 50px;
maxlength: 4;
}
input.t
{
width: 25px;
}
input.t2
{
width: 100px;
}
div
{

background-color: #00BFFF;
border: 10px inset #1E90FF;
position: relative;
width:500px;
margin-left: 30%;
margin-right: 30%;
}
p
{
color: white;
font-size: 15px;
text-align: right;
margin-right: 31%;
}
a{
font-size: 15px;
text-align: center;
text-decoration: none;
color: black;
border: 2px solid;
background-color: #708090;
margin-right:70px;
}					
body
{

 background-color:#4B0082;
}					
img
{
height: 150px;

}				
.imagem
{
display: block;
margin-right: 30%;
}  
.imagemP
{
display: block;
margin-right: 38%;
} 