.txt
{
	border: cyan 5px inset;
	
	width: 500px;
	height: 252px;
	margin: 0 auto;
	text-align: center;
}
h1{
	text-align: center;
	text-shadow: 4px 4px SkyBlue;
	color: Navy;
}
.pdpe{
margin-right: 30%;
}
.fieldset1{
width: 20%;
height: 17%;
margin: 0 auto;
}
.fieldset2{
width: 20%;
height: 50%;
height: 43%;
margin: 0 auto;
}

select{
background-color: blue;
color: white;
}	
div.b{
	position: relative;
	border: cyan 5px inset;
	width: 17%;
	height:17%;
	background-color: aquamarine;
	margin: 0 auto;
	text-align: center;
	
	
	
}
.df
{
	border: cyan 5px inset;
	display: flex;
	width: 500px;
	margin: 0 auto;
}
.dpe
{
	border: cyan 5px inset;
	text-align: right;
	
	width: 500px;
	margin: 0 auto;
}	
div{
	
	
	
	background-color: aquamarine;
	margin-left: 12%;
	text-align: left;
	
	
}

fieldset
{
	border: 10px inset Teal;
	font-size: 20px;
	text-align:center;
	background-color: darkTurquoise;
}
legend
{
	text-align:center;
	font-family:consolas;
	color: lightSteelBlue;
	text-shadow: 2px 2px black;
}
	